<div class="container">
  <form class="form" #signInForm="ngForm" (ngSubmit)="signIn()">
    <img class="logo" src="/assets/images/logo.png" />
    <div class="sign-in">Sign In</div>
    <div class="sub-text">to acquire awesome bots</div>
    
    <input name="email" required #EmailInput="ngModel" [(ngModel)]="credentials.email" placeholder="Email Address" type="text" />
    <em class="error" *ngIf="EmailInput.errors?.['required'] && EmailInput.touched">Email is required</em>
    <em class="error" *ngIf="EmailInput.errors?.['email'] && EmailInput.touched">Must be a valid email format</em>
    <!-- <em class="error" *ngIf="EmailInput.invalid && EmailInput.touched">Email is required</em> -->

    <input name="password" required #PasswordInput="ngModel" [(ngModel)]="credentials.password" placeholder="Password" type="password" />
      <em class="error" *ngIf="PasswordInput.invalid && PasswordInput.touched">Password is required</em>
      <!-- <em class="error" *ngIf="PasswordInput.errors?.['required'] && PasswordInput.touched">Password is required</em>
      <em class="error" *ngIf="PasswordInput.errors?.['password'] && PasswordInput.touched">Must be a valid password</em> -->

      <div class="buttons">
      <button type="submit" [disabled]="signInForm.invalid" class="button cta">
        Sign In
      </button>
    </div>
    
    <div class="signInError" *ngIf="signInError">
      Sign-in failed. Please check your credentials and try again.
    </div>
  </form>
</div>
<!-- <div>
  <b>******** Control Info ********</b>
  <br />
    **** <br />
  Form Value: {{signInForm.value}} <br />
  Form Invalid: {{signInForm.invalid}} <br />
  Form dirty: {{signInForm.dirty}} <br />
  Form pristine: {{signInForm.pristine}} <br />
  Form touched: {{signInForm.touched}} <br />
  Form untouched: {{signInForm.untouched}} <br />
  Form submitted: {{signInForm.submitted}} <br />
  **** <br />
  Password Input Value: {{PasswordInput.value}} <br />
  Password Input Invalid: {{PasswordInput.invalid}} <br />
  Password Input dirty: {{PasswordInput.dirty}} <br />
  Password Input pristine: {{PasswordInput.pristine}} <br />
  Password Input touched: {{PasswordInput.touched}} <br />
  Password Input untouched: {{PasswordInput.untouched}} <br />
  **** <br />
  Email Input Value: {{EmailInput.value}} <br />
  Email Input Invalid: {{EmailInput.invalid}} <br />
  Email Input dirty: {{EmailInput.dirty}} <br />
  Email Input pristine: {{EmailInput.pristine}} <br />
  Email Input touched: {{EmailInput.touched}} <br />
  Email Input untouched: {{EmailInput.untouched}} <br />
  **** <br />
  ********************************* <br />
</div> -->
